<li>
	{{burger_name}}

	<button class="devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#unless devoured}}NOMNOM{{/unless}}
	</button>

	{{!-- <button class="delete" data-id="{{this.id}}">
		{{#if devoured}}DELETE!{{/if}}
		</button> --}}
</li>
