<li>
	{{burger_name}}
	{{#unless devoured}}
	<button class="devour" data-id="{{id}}" data-newdevour="{{devour}}">
		NOMNOM
	</button>
	{{/unless}}
	{{#if devoured}}
	<button class="delete" data-id="{{this.id}}">
		DELETE!
	</button>
	{{/if}}
</li>